---
const { tabs = [], initialTab = tabs[0]?.id } = Astro.props;
type Content = { id: string; label: string; content: string };
---

<div id="container">
    <div class="tabs is-centered is-fullwidth">
        <ul>
            {
                tabs.map((t: Content, i: number) => (
                    <li>
                        <a id={String(i)} data-tab={t.id} class="title is-3">
                            {t.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div id="content">
        {
            tabs.map((t: Content, i: number) => (
                <div id={t.id} class="subtitle is-4 tab-pane">
                    {t.content}
                </div>
            ))
        }
    </div>
</div>

<style>
    html,
    body {
        height: 100%;
        margin: 0;
    }

    #container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .tabs {
        flex: 0 0 auto;
    }

    #content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .tab-pane {
        display: none;
        flex: 1;
    }

    .tab-pane.visible {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
</style>

<script>
    function activeTab(tab) {
        const panes = document.querySelectorAll(".tab-pane");
        panes.forEach((t) => {
            if (t.id === tab) {
                t.classList.add("visible");
            } else {
                t.classList.remove("visible");
            }
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        const tabs = document.querySelectorAll(".tabs li a");

        tabs.forEach((tab) => {
            tab.addEventListener("click", () => {
                const tid = tab.dataset.tab;
                activeTab(tid);
            });
        });

        activeTab("{{initialTab}}");
    });
</script>
